<template>
  <!-- A dumb wrapper for the `HellowWorld` component. -->
  <HelloWorld />
</template>

<script>
/*
  * Depending on the development team's desired source structure, you may
  * want to differentiate between 'views' (router pages) and 'components'
  * which are atomic, reusable componets used to build views. Views can be 
  * useful for abstracting network requests and other configs that are passed
  * as props to components within them.
  */
import HelloWorld from '../components/HelloWorld';

export default {
  components: {
    HelloWorld
  }
};
</script>
